.loaderContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 350px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(0.25turn, #5334df, #c948ee);
}

.pages {
  display: flex;
  align-items: center;
  padding-right: 90px;
}

.logo {
  padding-left: 90px;
}

.single_product_container {
  min-height: 100vh;
  padding-top: 25px;
  margin: 0 auto;
}

.single_product_container h3 {
  text-align: center;
  font-size: 25px;
}

.single_item {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.description {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
}

.item_description {
  margin: 0;
}

.img_container {
  width: 70%;
}

.img_container img {
  width: 100%;
  height: 180px;
}

.slider_images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.slider_images div img {
  width: 50px;
  height: 40px;
  cursor: pointer;
}

.text_container {
  width: 100%;
  padding-left: 25px;
}

.purple_button {
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 20px;
  margin-top: 20px;
  color: #fff;
  transition: ease 0.2s;
  text-transform: capitalize;
  background-color: #d468f2;
}

.purple_button:hover {
  background-color: #8e34a6;
}

/* Media Queries */

@media screen and (max-width: 767px) {
  .header_section{  
    height: auto;
  }
  .container {
    width: 90%; 
  }
  .navbar {
    padding: 10px 0; 
  }
  .pages {
    padding-right: 20px; 
  }
  .logo {
    padding-left: 20px; 
  }
  .img_container {
    width: 100%;
  }
  .text_container {
    padding-top: 25px;
    padding-left: 0;
  }
  .img_container img {
    width: 100%;
    height: 150px;
  }
  .single_item {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .slider_images div img {
    width: 30px;
    height: 20px;
  }
  
.purple_button {
  margin-top: 0;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header_section{  
    height: auto;
  }
  .container {
    width: 90%; 
  }
  .navbar {
    padding: 10px 0; 
  }
  .pages {
    padding-right: 20px; 
  }
  .logo {
    padding-left: 20px; 
  }
  .img_container {
    width: 100%;
  }
  .text_container {
    padding-top: 25px;
    padding-left: 0;
  }
  .img_container img {
    width: 100%;
    height: 200px;
  }
  .single_item {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .purple_button {
    margin-top: 0;
  }
}
