.page {
  padding: 0 15px;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  text-decoration-line: none;
}

.basket {
  padding: 0 15px;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  text-decoration-line: none;
}

.basket_icon {
  color: #fff;
}

.items_count {
  top: -42px;
  left: 39px; 
  z-index: 1;
  position: absolute;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .page, .basket {
    font-size: 16px;
    padding: 0 7px;
  }

  .items_count {
    font-size: 22px;
    top: -34px;
    left: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .page, .basket {
    font-size: 22px;
  }

  .items_count {
    font-size: 23px;
    top: -33px;
    left: 35px;
  }
}

@media screen and (min-width: 1025px) {
  .page, .basket {
    font-size: 25px;
  }

  .items_count {
    font-size: 25px;
    top: -36px;
    left: 39px;
  }
}